{% extends "layout/default.twig" %}
{% import "macros/form-elements.twig" as form %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form action="{{ url_for('auth.signup') }}" method="post">
                {{ form.input('text', 'Nome Completo', 'name', '', error) }}
                {{ form.input('email', 'E-Mail', 'email', '', error) }}
                {{ form.input('password', 'Senha', 'password', '', error) }}

                <button type="submit" class="btn btn-primary">Cadastrar</button>
                {{ csrf.field | raw }}
            </form>
        </div>
    </div>
{% endblock %}